<div class="jumbotron comment-form">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4>コメント</h4>
      </div>
      <div class="col-md-offset-1 col-md-10 comment-info">
        <h4>test</h4>
      </div>
    </div>
  </div>
</div>
