<% provide(:title, "Articles") %>

<div class="users-page">
  <div class="container">
    <div class="row">
      <h2 class="text-center">記事一覧</h2>
      <ul class="users-info">
        <% @articles.each do |article| %>
          <li>
            <%= image_tag article.article_image.url, class: "users-image" %>

            <%= article.article_title %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
