<% provide(:title, "Article") %>

<div class="user-page">
  <div class="container">
    <div class="row">
      <aside class="col-md-5">
        <section class="user-info">
          <h1>test</h1>
        </section>
      </aside>

      <div class="col-md-7">
        <h1>選手の紹介文</h1>
      </div>
    </div>
  </div>
</div>
