<% provide(:title, "Article") %>

<div class="user-page">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="artcle-page">
          <h1>記事タイトル</h1>

          <h1>選手画像</h1>

          <span>選手情報</span>

          <h2>選手紹介</h2>

          <h3>ユーザー情報</h3>

          <h3>コメント</h3>
        </div>
      </div>
    </div>
  </div>
</div>
