<% provide(:title, "Users page") %>

<div class="users-page">
  <div class="container">
    <div class="row">
      <h2 class="text-center">ユーザー一覧</h2>
      <ul class="users-info">
        <% @users.each do |user| %>
          <li>
            <%= image_tag user.image.url, class: "users-image" %>
            <%= link_to "#{user.user_name}", user_path(user) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
