// 記事詳細ページ内のコメントフォーム
.comment-area {
  background-color: white;
  margin-top: 70px;

  p {
    font-size: 16px
  }

  a {
    font-size: 15px;
    color: #000098;
  }

  .comment-icon {
    font-size: 30px;
  }

  .comment-icon-text {
    font-size: 18px;
    font-weight: bold;
    display: inline;
  }

  .comment-user {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: solid 1px #e5e5e5;

    .comment-user-image {
      height: 30px;
      object-fit: contain;
    }

    .comment-user-name {
      display: inline;
      margin-left: 5px;
    }

    .comment-created-time {
      float: right;
      font-size: 14px;
      color: #7f7f7f;
    }

    .comment-content {
      margin-top: 18px;
    }
  }

  .comment-info {
    background-color: #fafafa;
    padding-top: 20px;

    .comment-reminder {
      margin-bottom: 35px;
    }

    .comment-signup {
      a {
        color: white;
      }
    }

    .comment-login-text {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}

// 記事コメントアイコン
.article-comments {
  font-size: 20px;
  margin-left: 5px;
  color: #7f7f7f;
}
