.navbar {
  a {
    color: black;
  }

  ul li a:hover {
    background-color: transparent;
  }
}

.top-home-wrapper {
  background-image: url("home1.jpg");
  background-size: cover;
  height: 70vh;
}

.home-section {
  margin-top: 100px;
  margin-bottom: 80px;

  .subtitle {
    text-align: center;

    .starting {
      margin-top: 60px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.form-wrapper {
  background-color: #e5e5e5;
  height: 110vh;

  .form-group {
    em {
      font-size: 13px;
    }
  }
}

.user-info {
  h1 {
    font-size: 25px;
    margin-top: 0px;
    padding: 5px;

    .user-name {
      margin-top: 20px;
    }

    .user-image {
      margin-top: 30px;
      width: 35%;
      height: 35%;
    }
  }
}
