@import "users";
@import "articles";
@import "comments";
@import "favorite_articles";

body {
  background-color: #f6f6f6;
}

#alert-header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

.row {
  padding-bottom: 100px;
}

.nav {
  .open {
    a:hover {
      background-color: white;
    }

    a:focus {
      background-color: white;
    }
  }
}

.navbar {
  margin-bottom: 0px;
  position: fixed;
  a {
    color: black;
  }

  ul li a:hover {
    background-color: white;
  }
}

.navbar-toggle {
  background-color: white;

  .icon-bar {
    background-color: black;
  }
}

.top-home-wrapper {
  padding-top: 280px;

  background-image: url("home1.jpg");
  background-size: cover;
  height: 100vh;
}

.home-section {
  margin-top: 100px;
  margin-bottom: 80px;

  .subtitle {
    text-align: center;

    .starting {
      margin-top: 60px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.form-wrapper {
  padding-top: 100px;
  margin-bottom: 100px;

  .form-group {
    em {
      font-size: 13px;
    }
  }
}

//ページネーション

.paginate {
  text-align: center;
}
