body {
  background-color: #e5e5e5;
}

#alert-header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
  position: fixed;
  a {
    color: black;
  }

  ul li a:hover {
    background-color: transparent;
  }
}

.top-home-wrapper {
  padding-top: 150px;

  background-image: url("home1.jpg");
  background-size: cover;
  height: 70vh;
}

.home-section {
  margin-top: 100px;
  margin-bottom: 80px;

  .subtitle {
    text-align: center;

    .starting {
      margin-top: 60px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.form-wrapper {
  padding-top: 100px;

  .form-group {
    em {
      font-size: 13px;
    }
  }
}


.user-page {
  padding-top: 100px;

  .user-info {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;

    h1 {
      font-size: 25px;
      margin-top: 0px;
      padding: 5px;

      .user-name {
        margin-top: 20px;
      }

      .user-image {
        margin-top: 30px;
        width: 35%;
        height: 35%;
      }
    }
  }

  .user-profile {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;

    h2 {
      font-size: 20px;
      margin-top: 0px;
    }
  }
}
