<p><%= @user_name %>さん。</p>

<p>下記にアクセスしパスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールが身に覚えのないものでしたら、</p>
<p>お手数おかけしますが破棄して頂くようよろしくお願いいたします。</p>
